#error-msg .ant-message-notice-content {
  background: #FFF1F0;
  border: 1px solid #FFCCC7;
}

#success-msg .ant-message-notice-content {
  background:#F6FFED;
  border: 1px solid #B7EB8F;
}

#warning-msg .ant-message-notice-content {
  background: #FFFBE6;
  border: 1px solid #FFE58F;
}

.ant-card {
  border-radius: 4px !important;
}

.ant-popover {
  z-index: 1050 !important;
}

.entry-point, .right-content {
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.entry-point .form-content {
  width: 100%;
}

.right-content {
  background: #FAFAFA;
}

@media (min-width: 992px) {
  .entry-point .form-content {
    width: 75%;
  }
}

.text-muted {
  color: #8C8C8C !important;
}

.ant-tabs-tab {
  padding: 12px 0 !important;
}

.ant-tabs-tab:not(.ant-tabs-tab-active) > h1 {
  color: #595959;
  font-weight: normal;
}

.checkin-form .ant-tabs-tab:not(.ant-tabs-tab-active) {
  cursor: default;
}

.text-danger {
  color: #D4380D !important;
}

.text-success {
  color: #52C41A !important;
}

.text-warning {
  color: #FAAD14 !important;
}

.w-100 {
  width: 100%;
}

.fs-16 {
  font-size: 16px !important;
}

.breadcrumb-menu {
  max-height: 300px;
  overflow: auto;
}

.direct-report-selection .ant-popover-title {
  border-bottom: none;
}

.direct-report-selection .ant-popover-inner-content {
  padding: 8px 16px;
}

.direct-report-selection .ant-popover-arrow {
  display: none;
}

.direct-report-tooltip .ant-tooltip-arrow {
  margin-left: -13px;
}

.direct-report-tooltip .ant-tooltip-inner {
  margin-left: -13px;
}

.toolbar-emoji-popover .ant-popover-inner-content {
  padding: 8px;
}
